pycache/
*.py[cod]
*$py.class

*.spec
dist/
build/

docs/_build/

.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

logs/
*.log
.log.

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

postgres_data/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db